svg.a9s-annotationlayer .a9s-annotation .a9s-inner {
    fill: #ffffff22;
}

.a9s-annotation.selected .a9s-inner,
.a9s-selection .a9s-inner,
.a9s-annotation.editable .a9s-inner {
    stroke: #fff;
}

.a9s-annotation.editable .a9s-inner:hover {
    fill: #ffffff11;
}

svg.a9s-annotationlayer .a9s-handle .a9s-handle-inner {
    fill: #ffffff;
    stroke: #fff;
}

#overlay {
    position: absolute !important;
}

#overlay>div:not([data-radix-popper-content-wrapper]):nth-last-of-type(1) {
    display: none;
}

.a9s-annotation foreignObject {
    overflow: visible;
    width: 1px;
    height: 1px;
}

.a9s-annotation foreignObject label {
    display: inline-block;
    padding: 3px 8px;
}

.a9s-annotation label {
    transform:translateY(-100%) translateX(-1px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;   

    border-width:2px 2px 0 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 150px;
    max-width: max-content;
}

.a9s-annotation polygon + .a9s-formatter-el label {
    border-radius: 6px;
}